node-red/flujo-sensores.json

[{"id":"570af521684fda23","type":"tab","label":"Flujo Sensores Casa","disabled":false,"info":"Flujo para monitoreo de temperatura, humedad y detección de fuego.","env":[]},{"id":"64619894564d7b29","type":"mqtt in","z":"570af521684fda23","name":"Recibir alerta ESP32","topic":"esp32/gas","qos":"0","datatype":"auto","broker":"86f649773741d548","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":260,"wires":[["4f9451987f162a51","6fce15c0fbd56bb3","df67136c5f84cbe6","5043aef2aded4314"]]},{"id":"ed372def79fe8400","type":"mqtt out","z":"570af521684fda23","name":"Enviar comando al ESP32","topic":"esp32/gas","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"86f649773741d548","x":870,"y":80,"wires":[]},{"id":"50d2140ed7c9bc4b","type":"ui_text","z":"570af521684fda23","group":"proyecto_grupo","order":9,"width":8,"height":1,"name":"Estado LED","label":"Estado del LED:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":910,"y":220,"wires":[]},{"id":"4f9451987f162a51","type":"function","z":"570af521684fda23","name":"Formatear estado","func":"if (msg.payload === \"1\") {\n    msg.payload = \"ENCENDIDO\";\n    msg.color = \"green\";\n} else if (msg.payload === \"0\") {\n    msg.payload = \"APAGADO\";\n    msg.color = \"red\";\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":220,"wires":[["50d2140ed7c9bc4b"]]},{"id":"e3bdd638deec4539","type":"debug","z":"570af521684fda23","name":"Resultado PostgreSQL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1280,"y":580,"wires":[]},{"id":"30f69c743127d753","type":"postgresql","z":"570af521684fda23","name":"Insertar en PostgreSQL","query":"INSERT INTO lecturas_sensor(sensor_id, valor) VALUES($1, $2)","postgreSQLConfig":"41318a3f1aed1ecc","split":false,"rowsPerMsg":"","outputs":1,"x":930,"y":580,"wires":[["e3bdd638deec4539"]]},{"id":"be6554a3ca7df922","type":"postgresql","z":"570af521684fda23","name":"Consulta Directa PostgreSQL","query":"SELECT \n    l.id,\n    s.nombre AS nombre_sensor,\n    l.fecha_hora,\n    l.valor\nFROM \n    lecturas_sensor l\nJOIN \n    sensores s ON l.sensor_id = s.id\nWHERE \n    LOWER(l.valor) <> 'normal'\nORDER BY \n    l.fecha_hora DESC;\n","postgreSQLConfig":"41318a3f1aed1ecc","split":false,"rowsPerMsg":"","outputs":1,"x":1160,"y":380,"wires":[["24af03ad72e5ddc9"]]},{"id":"6fce15c0fbd56bb3","type":"function","z":"570af521684fda23","name":"Preparar datos para PostgreSQL","func":"// Determinar el sensor y valor según el mensaje recibido\nlet sensorId = 1; // Por defecto: Sensor de Gas/Humo\nlet valor = null;\n\nif (msg.payload === \"alerta\") {\n    valor = \"ALERTA Gas/Humo\";\n    sensorId = 1; // Sensor de Gas/Humo\n    console.log(\"Insertando alerta de gas: \", valor);\n} else if (msg.payload === \"normal\") {\n    valor = \"Normal\";\n    sensorId = 1; // Solo para sensor de gas, ya que fuego ahora usa otro tópico\n    console.log(\"Insertando estado normal: \", valor);\n} else if (msg.payload === \"timbre\") {\n    valor = \"Alguien tocó la puerta\";\n    sensorId = 2; // Sensor de Timbre\n    console.log(\"Insertando alerta de timbre: \", valor);\n} else if (msg.payload === \"1\") {\n    console.log(\"Comando LED encendido, no se inserta en DB\");\n    return null; // No registrar este evento\n} else if (msg.payload === \"0\") {\n    console.log(\"Comando LED apagado, no se inserta en DB\");\n    return null; // No registrar este evento\n} else {\n    console.log(\"Mensaje no reconocido: \", msg.payload);\n    return null; // No procesar otros mensajes\n}\n\n// Configurar la consulta SQL con parámetros\nmsg.topic = \"INSERT INTO lecturas_sensor(sensor_id, valor) VALUES($1, $2)\";\n\n// Configurar el array de parámetros\nmsg.params = [sensorId, valor];\n\nconsole.log(\"Preparando inserción con SQL: \", msg.topic);\nconsole.log(\"Parámetros: \", JSON.stringify(msg.params));\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":480,"wires":[["30f69c743127d753"]]},{"id":"5043aef2aded4314","type":"function","z":"570af521684fda23","name":"Crear notificación","func":"if (msg.payload === \"alerta\") {\n    const fecha = new Date().toLocaleString();\n    msg.payload = \"¡ALERTA! Detección de gas/humo en \" + fecha;\n    msg.highlight = \"orange\";\n    return msg;\n} else if (msg.payload === \"timbre\") {\n    const fecha = new Date().toLocaleString();\n    msg.payload = \"Alguien tocó la puerta en \" + fecha;\n    msg.highlight = \"#0059b3\"; // Azul\n    return msg;\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":380,"wires":[["442e200ec4fa123b"]]},{"id":"442e200ec4fa123b","type":"ui_toast","z":"570af521684fda23","position":"top right","displayTime":"5","highlight":"{{msg.highlight}}","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"Notificación","x":930,"y":520,"wires":[]},{"id":"df67136c5f84cbe6","type":"function","z":"570af521684fda23","name":"Formatear alerta gas","func":"console.log(\"Mensaje recibido en Formatear alerta gas:\", msg.payload);\nconsole.log(\"Tipo de mensaje:\", typeof msg.payload);\n\nif (msg.payload === \"alerta\") {\n    console.log(\"Detectada alerta\");\n    // Alerta de gas detectada\n    msg.payload = 1;\n    msg.status = \"¡PELIGRO! Detección de gas\";\n    return [msg, { payload: msg.status }];\n} else if (msg.payload === \"normal\") {\n    console.log(\"Detectado normal\");\n    // Estado normal explícito\n    msg.payload = 0;\n    msg.status = \"Normal - Sin detección\";\n    return [msg, { payload: msg.status }];\n} else if (msg.payload === \"timbre\") {\n    // Los eventos de timbre no afectan al indicador de gas\n    return [null, null];\n} else if (msg.payload === \"0\" || msg.payload === \"1\") {\n    // Comandos para LED, no son alertas\n    return [null, null];\n} else {\n    console.log(\"Mensaje no reconocido:\", msg.payload);\n    // Otros mensajes\n    msg.payload = 0;\n    msg.status = \"Normal - Sin detección\";\n    return [msg, { payload: msg.status }];\n}","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":320,"wires":[["1a8733cf33820ba2"],["a91f9b2d8c305003"]]},{"id":"mqtt_temp_hum_in","type":"mqtt in","z":"570af521684fda23","name":"Recibir Temp/Hum ESP32","topic":"esp32/temp_hum","qos":"0","datatype":"json","broker":"86f649773741d548","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":720,"wires":[["procesar_temp_hum"]]},{"id":"procesar_temp_hum","type":"function","z":"570af521684fda23","name":"Procesar Temp/Hum (Solo visualización)","func":"// Verificar que payload es un objeto JSON válido\nif (typeof msg.payload === 'string') {\n    try {\n        msg.payload = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Error al parsear JSON: \" + e.message);\n        return null;\n    }\n}\n\n// Extraer valores de temperatura y humedad\nconst temp = msg.payload.temperature;\nconst hum = msg.payload.humidity;\n\nconsole.log(\"Valores recibidos - Temperatura:\", temp, \"Humedad:\", hum);\n\nif (temp === undefined || hum === undefined) {\n    node.error(\"Datos de temperatura o humedad no encontrados\");\n    return null;\n}\n\n// Crear mensajes separados para cada valor\nconst tempMsg = {\n    payload: temp,\n    topic: \"temperature\",\n    label: \"Temperatura °C\"\n};\n\nconst humMsg = {\n    payload: hum,\n    topic: \"humidity\",\n    label: \"Humedad %\"\n};\n\n// Añadir mensajes para debug\nconsole.log(\"Enviando datos a la interfaz - Temp:\", temp, \"°C, Hum:\", hum, \"%\");\n\n// Retornamos los mensajes para visualización en gráficos\nreturn [tempMsg, humMsg];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":720,"wires":[["2847f1c3a7b80853"],["58dd46f24ee6d5c6"]]},{"id":"mqtt_fuego_in","type":"mqtt in","z":"570af521684fda23","name":"Recibir alerta de fuego","topic":"esp32/sensor_fuego","qos":"0","datatype":"auto","broker":"86f649773741d548","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":1140,"wires":[["notificacion_fuego","preparar_db_fuego","a39608f9e486d280"]]},{"id":"notificacion_fuego","type":"function","z":"570af521684fda23","name":"Notificación de fuego","func":"if (msg.payload === \"fuego\") {\n    const fecha = new Date().toLocaleString();\n    msg.payload = \"¡ALERTA CRÍTICA! Detección de FUEGO en habitación - \" + fecha;\n    msg.highlight = \"#FF0000\"; // Rojo brillante\n    return msg;\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1140,"wires":[["toast_fuego"]]},{"id":"toast_fuego","type":"ui_toast","z":"570af521684fda23","position":"top right","displayTime":"5","highlight":"{{msg.highlight}}","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"Notificación Fuego","x":730,"y":1140,"wires":[]},{"id":"preparar_db_fuego","type":"function","z":"570af521684fda23","name":"Preparar datos para DB","func":"// Código corregido con depuración exhaustiva\nif (msg.payload === \"fuego\") {\n    const valor = \"ALERTA FUEGO EN HABITACIÓN\";\n\n    // Establecer explícitamente la consulta SQL\n    msg.topic = \"INSERT INTO lecturas_sensor(sensor_id, valor) VALUES($1, $2)\";\n\n    // Crear el array de parámetros\n    msg.params = [4, valor];\n\n    // Depuración extendida\n    console.log(\"PREPARANDO INSERCIÓN DE ALERTA DE FUEGO:\");\n    console.log(\"- Consulta SQL:\", msg.topic);\n    console.log(\"- Parámetros:\", JSON.stringify(msg.params));\n    console.log(\"- Mensaje completo:\", JSON.stringify(msg));\n\n    return msg;\n} else if (msg.payload === \"normal\") {\n    const valor = \"Normal - Sin fuego\";\n\n    // Establecer explícitamente la consulta SQL\n    msg.topic = \"INSERT INTO lecturas_sensor(sensor_id, valor) VALUES($1, $2)\";\n\n    // Crear el array de parámetros\n    msg.params = [4, valor];\n\n    // Depuración extendida\n    console.log(\"PREPARANDO INSERCIÓN DE ESTADO NORMAL:\");\n    console.log(\"- Consulta SQL:\", msg.topic);\n    console.log(\"- Parámetros:\", JSON.stringify(msg.params));\n    console.log(\"- Mensaje completo:\", JSON.stringify(msg));\n\n    return msg;\n}\n\n// Si no es ninguno de los casos anteriores\nconsole.log(\"Mensaje no reconocido para DB:\", msg.payload);\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1240,"wires":[["postgres_fuego_simple"]]},{"id":"postgres_fuego","type":"postgresql","z":"570af521684fda23","name":"Insertar en PostgreSQL","query":"","postgreSQLConfig":"41318a3f1aed1ecc","split":false,"rowsPerMsg":"","outputs":1,"x":730,"y":1240,"wires":[[]]},{"id":"debug_fuego","type":"debug","z":"570af521684fda23","name":"Debug Fuego","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":1360,"wires":[]},{"id":"postgres_fuego_simple","type":"postgresql","z":"570af521684fda23","name":"Insertar Alerta Fuego en DB","query":"INSERT INTO lecturas_sensor(sensor_id, valor) VALUES($1, $2)","postgreSQLConfig":"41318a3f1aed1ecc","split":false,"rowsPerMsg":"","outputs":1,"x":680,"y":1340,"wires":[["debug_fuego"]]},{"id":"a39608f9e486d280","type":"function","z":"570af521684fda23","name":"Formatear alerta fuego","func":"if (msg.payload === \"fuego\") {\n    console.log(\"Detectado fuego\");\n    // Alerta de fuego detectada\n    msg.payload = 1;\n    msg.source = \"fire_sensor\";\n    msg.sensor_id = 4; // ID 4 para sensor de fuego\n    msg.status = \"¡PELIGRO! Detección de fuego en habitación\";\n    return [msg, { payload: msg.status }];\n} else if (msg.payload === \"normal\") {\n    console.log(\"Fuego controlado\");\n    // Estado normal explícito\n    msg.payload = 0;\n    msg.source = \"fire_sensor\";\n    msg.sensor_id = 4; // ID 4 para sensor de fuego\n    msg.status = \"Normal\";\n    return [msg, { payload: msg.status }];\n}\nreturn [null, null];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1040,"wires":[["9ac627946dd2711a"],["1f25647074faf6b0"]]},{"id":"16b951cdac580192","type":"ui_button","z":"570af521684fda23","name":"Verificar Estado","group":"9a5443d3386a5df0","order":4,"width":6,"height":1,"passthru":false,"label":"VERIFICAR ESTADO","tooltip":"","color":"","bgcolor":"#03A9F4","className":"","icon":"fa-refresh","payload":"status","payloadType":"str","topic":"command","topicType":"str","x":200,"y":1840,"wires":[["991256b20f47d9b7"]]},{"id":"991256b20f47d9b7","type":"mqtt out","z":"570af521684fda23","name":"Enviar comando a focos","topic":"esp32/focos-afuera","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"86f649773741d548","x":610,"y":1700,"wires":[]},{"id":"c0844614cd80380f","type":"mqtt in","z":"570af521684fda23","name":"Recibir estado focos","topic":"esp32/focos-afuera/status","qos":"0","datatype":"auto","broker":"86f649773741d548","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":1480,"wires":[["65caad7e4fcdebbe"]]},{"id":"65caad7e4fcdebbe","type":"function","z":"570af521684fda23","name":"Formatear estado focos","func":"if (msg.payload === \"ready\") {\n    msg.payload = \"CONECTADO\";\n    msg.color = \"blue\";\n    return msg;\n}\n\ntry {\n    // Formato esperado: led1:on,led2:off,led3:on,led4:off\n    const statuses = msg.payload.split(',');\n\n    // Verificar si todos están encendidos o apagados\n    const totalLeds = statuses.length;\n    const encendidos = statuses.filter(status => status.split(':')[1] === 'on').length;\n\n    if (encendidos === totalLeds) {\n        msg.payload = \"ENCENDIDOS\";\n        msg.color = \"green\";\n    } else if (encendidos === 0) {\n        msg.payload = \"APAGADOS\";\n        msg.color = \"red\";\n    } else {\n        // Algunos encendidos y otros apagados\n        msg.payload = `${encendidos} ENCENDIDOS, ${totalLeds - encendidos} APAGADOS`;\n        msg.color = \"orange\";\n    }\n\n    return msg;\n} catch (e) {\n    msg.payload = \"ERROR DE COMUNICACIÓN\";\n    msg.color = \"gray\";\n    return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1480,"wires":[["c648d3151c6ddb0a"]]},{"id":"24af03ad72e5ddc9","type":"ui_template","z":"570af521684fda23","group":"datos_sensor_grupo","name":"Tabla HTML","order":1,"width":8,"height":8,"format":"<div style=\"font-family: Arial, sans-serif;\">\n    <h3 style=\"color: #2c3e50; border-bottom: 2px solid #3498db; padding-bottom: 8px;\">Historial de Alertas</h3>\n    <table style=\"width:100%; border-collapse:collapse; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n        <tr style=\"background-color:#3498db; color:white;\">\n            <th style=\"border:1px solid #ddd; padding:12px; text-align: left;\">Sensor</th>\n            <th style=\"border:1px solid #ddd; padding:12px; text-align: left;\">Fecha/Hora</th>\n            <th style=\"border:1px solid #ddd; padding:12px; text-align: left;\">Estado</th>\n        </tr>\n        <tr ng-repeat=\"row in msg.payload\" style=\"border:1px solid #ddd; background-color: {{$odd ? '#f9f9f9' : 'white'}};\">\n            <td style=\"border:1px solid #ddd; padding:12px;\">{{row.nombre_sensor}}</td>\n            <td style=\"border:1px solid #ddd; padding:12px;\">\n                <div style=\"font-weight: bold;\">{{row.fecha_hora | date:'EEEE d MMMM'}}</div>\n                <div style=\"color: #7f8c8d;\">{{row.fecha_hora | date:'HH:mm:ss'}}</div>\n            </td>\n            <td style=\"border:1px solid #ddd; padding:12px; color: {{row.valor.includes('ALERTA') ? '#e74c3c' : '#27ae60'}}; font-weight: {{row.valor.includes('ALERTA') ? 'bold' : 'normal'}};\">{{row.valor}}</td>\n        </tr>\n        <tr ng-if=\"!msg.payload || msg.payload.length === 0\">\n            <td colspan=\"3\" style=\"text-align:center; padding:20px; color: #7f8c8d;\">No hay alertas registradas</td>\n        </tr>\n    </table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1450,"y":380,"wires":[[]]},{"id":"5d63bde0b27429d6","type":"ui_button","z":"570af521684fda23","name":"Encender LED","group":"proyecto_grupo","order":1,"width":4,"height":2,"passthru":false,"label":"ENCENDER","tooltip":"","color":"white","bgcolor":"#4CAF50","className":"","icon":"fa-lightbulb-o","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":300,"y":40,"wires":[["ed372def79fe8400"]]},{"id":"a60aee607f99797f","type":"ui_button","z":"570af521684fda23","name":"Apagar LED","group":"proyecto_grupo","order":2,"width":4,"height":2,"passthru":false,"label":"APAGAR","tooltip":"","color":"white","bgcolor":"#F44336","className":"","icon":"fa-power-off","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":280,"y":100,"wires":[["ed372def79fe8400"]]},{"id":"a91f9b2d8c305003","type":"ui_text","z":"570af521684fda23","group":"alerta_gas_grupo","order":2,"width":4,"height":1,"name":"Estado Alerta","label":"Estado:","format":"<span style=\"font-weight: bold; color: {{msg.payload.includes('PELIGRO') ? 'red' : 'green'}}\">{{msg.payload}}</span>","layout":"row-spread","className":"","style":true,"font":"","fontSize":16,"color":"#000000","x":910,"y":420,"wires":[]},{"id":"de8f6e06991ad1da","type":"ui_button","z":"570af521684fda23","name":"Consulta Directa","group":"datos_sensor_grupo","order":2,"width":8,"height":1,"passthru":false,"label":"ACTUALIZAR HISTORIAL","tooltip":"","color":"white","bgcolor":"#2196F3","className":"","icon":"fa-refresh","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":940,"y":360,"wires":[["be6554a3ca7df922"]]},{"id":"2847f1c3a7b80853","type":"ui_chart","z":"570af521684fda23","name":"Gráfico Temperatura","group":"e48f58714ba426d2","order":1,"width":8,"height":4,"label":"Temperatura","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Esperando datos...","dot":false,"ymin":"0","ymax":"50","removeOlder":"3600","removeOlderPoints":"500","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#e60000","#aec7e8","#ff7f0e"],"outputs":1,"useDifferentColor":false,"className":"","x":860,"y":680,"wires":[[]]},{"id":"58dd46f24ee6d5c6","type":"ui_chart","z":"570af521684fda23","name":"Gráfico Humedad","group":"e48f58714ba426d2","order":2,"width":8,"height":4,"label":"Humedad","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Esperando datos...","dot":false,"ymin":"0","ymax":"100","removeOlder":"3600","removeOlderPoints":"500","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#0080ff","#aec7e8","#ff7f0e"],"outputs":1,"useDifferentColor":false,"className":"","x":890,"y":780,"wires":[[]]},{"id":"9ac627946dd2711a","type":"ui_gauge","z":"570af521684fda23","name":"Estado Sensor Fuego","group":"36b902bd5be3be37","order":1,"width":4,"height":4,"gtype":"donut","title":"Nivel de Alerta Fuego","label":"Sensor","format":"{{value}}","min":0,"max":1,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.33","seg2":"0.66","className":"","x":1020,"y":940,"wires":[]},{"id":"1f25647074faf6b0","type":"ui_text","z":"570af521684fda23","group":"36b902bd5be3be37","order":2,"width":4,"height":1,"name":"Estado Alerta Fuego","label":"Estado:","format":"<span style=\"font-weight: bold; color: {{msg.payload.includes('PELIGRO') ? 'red' : 'green'}}\">{{msg.payload}}</span>","layout":"row-spread","className":"","style":true,"font":"","fontSize":16,"color":"#000000","x":1020,"y":1000,"wires":[]},{"id":"1a8733cf33820ba2","type":"ui_gauge","z":"570af521684fda23","name":"Estado Sensor Gas","group":"alerta_gas_grupo","order":1,"width":4,"height":4,"gtype":"donut","title":"Nivel de Alerta","label":"Sensor","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.33","seg2":"0.66","className":"","x":890,"y":280,"wires":[]},{"id":"c648d3151c6ddb0a","type":"ui_text","z":"570af521684fda23","group":"ff726c8407f6b0cf","order":1,"width":8,"height":1,"name":"Estado Focos","label":"Estado de los Focos:","format":"<div style=\"padding: 10px; border-radius: 8px; text-align: center; font-weight: bold; background-color: {{msg.color === 'green' ? '#e6ffe6' : msg.color === 'red' ? '#ffebeb' : msg.color === 'orange' ? '#fff8e6' : '#f8f8f8'}}; color: {{msg.color === 'green' ? '#4CAF50' : msg.color === 'red' ? '#F44336' : msg.color === 'orange' ? '#FF9800' : msg.color === 'blue' ? '#2196F3' : '#000000'}}\">{{msg.payload}}</div>","layout":"row-spread","className":"","style":true,"font":"","fontSize":16,"color":"#000000","x":760,"y":1480,"wires":[]},{"id":"4d9620d144eccb86","type":"ui_button","z":"570af521684fda23","name":"Encender Focos Exteriores","group":"9a5443d3386a5df0","order":1,"width":4,"height":2,"passthru":false,"label":"ENCENDER FOCOS","tooltip":"","color":"white","bgcolor":"#4CAF50","className":"","icon":"fa-lightbulb-o","payload":"all_on","payloadType":"str","topic":"command","topicType":"str","x":240,"y":1600,"wires":[["991256b20f47d9b7"]]},{"id":"9cab3420f464d923","type":"ui_button","z":"570af521684fda23","name":"Apagar Focos Exteriores","group":"9a5443d3386a5df0","order":2,"width":4,"height":2,"passthru":false,"label":"APAGAR FOCOS","tooltip":"","color":"white","bgcolor":"#F44336","className":"","icon":"fa-power-off","payload":"all_off","payloadType":"str","topic":"command","topicType":"str","x":230,"y":1680,"wires":[["991256b20f47d9b7"]]},{"id":"be5ed21b5c0461e5","type":"ui_spacer","z":"570af521684fda23","name":"spacer","group":"proyecto_grupo","order":1,"width":1,"height":1},{"id":"79be63569147a08f","type":"ui_spacer","z":"570af521684fda23","name":"spacer","group":"proyecto_grupo","order":3,"width":3,"height":1},{"id":"c5a0753dd2982e1f","type":"ui_spacer","z":"570af521684fda23","name":"spacer","group":"proyecto_grupo","order":7,"width":4,"height":1},{"id":"1fa684a27c8443b8","type":"ui_spacer","z":"570af521684fda23","name":"spacer","group":"36b902bd5be3be37","order":3,"width":4,"height":1},{"id":"66163adeb21bb1f7","type":"ui_spacer","z":"570af521684fda23","name":"spacer","group":"36b902bd5be3be37","order":4,"width":4,"height":1},{"id":"86f649773741d548","type":"mqtt-broker","name":"","broker":"broker.emqx.io","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"proyecto_grupo","type":"ui_group","name":"Luz Sala","tab":"proyecto_tab","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"41318a3f1aed1ecc","type":"postgreSQLConfig","name":"Conexion","host":"127.0.0.1","hostFieldType":"str","port":5432,"portFieldType":"num","database":"iot_maqueta","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":10,"maxFieldType":"num","idle":1000,"idleFieldType":"num","connectionTimeout":10000,"connectionTimeoutFieldType":"num","user":"postgres","userFieldType":"str","password":"linux123","passwordFieldType":"str"},{"id":"9a5443d3386a5df0","type":"ui_group","name":"Control Focos Exteriores","tab":"proyecto_tab","order":8,"disp":true,"width":6,"collapse":false,"className":""},{"id":"datos_sensor_grupo","type":"ui_group","name":"Historia de alertas","tab":"proyecto_tab","order":4,"disp":true,"width":8,"collapse":false,"className":""},{"id":"alerta_gas_grupo","type":"ui_group","name":"Alertas de Gas/Humo","tab":"proyecto_tab","order":2,"disp":true,"width":8,"collapse":false,"className":""},{"id":"e48f58714ba426d2","type":"ui_group","name":"Gráficos Históricos","tab":"proyecto_tab","order":6,"disp":true,"width":8,"collapse":false,"className":""},{"id":"36b902bd5be3be37","type":"ui_group","name":"Alertas de Fuego","tab":"proyecto_tab","order":3,"disp":true,"width":8,"collapse":false,"className":""},{"id":"ff726c8407f6b0cf","type":"ui_group","name":"Focos Exteriores","tab":"proyecto_tab","order":7,"disp":true,"width":8,"collapse":false,"className":""},{"id":"proyecto_tab","type":"ui_tab","name":"Control Casa","icon":"dashboard","disabled":false,"hidden":false}]
